.about{
    margin: 3rem auto;
    padding: 0 1rem;
    max-width: 1100px;
}
.about-title h1{
    font-size: clamp(2.2rem, 4vw, 3.5rem);
    font-weight: 600;
    margin-bottom: 1.2rem;
}
.about-sections{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
}
.about-left img{
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    object-fit: cover;
}
.about-right{
    flex: 1;
    min-width: 280px;
    font-size: 1rem;
}
.about-para p{
    margin-bottom: 1rem;
}
.about-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.75rem;
    margin-top: 1.2rem;
}
.about-skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: rgba(255,255,255, 0.08);
    border-radius: 14px;
    padding: 0.75rem;
}
.about-skill p, .about-achievement p{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}
.about-skill hr{
    flex: 1;
    margin: 0;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DA7C25 -5.09%, #B923E1 100%);
}
.about-achievements{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.about-achievementx p{
    margin-bottom: 0.4rem;
    font-size: 1.3rem;
}
@media(max-width: 768px){
    .about{
        margin: 2rem auto;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-right{
        width: 100%;
    }
}
