.about{
    /* background: rgb(89, 216, 255); */
    flex-direction: column;
    margin: 40px 100px;
}
.about-title h1{
    padding: 0 30px;
    font-size: 50px;
    font-weight: 600;
}
/* .about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
} */
.about-sections{
    gap: 50px;
}
.about-right{
    font-size: 18px;
}
.about-skills{
    display: flex;
    flex-direction: column; 
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p, .about-achievement p{
    min-width: 150px;
    font-size: 1rem;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DA7C25 -5.09%, #B923E1 100%);
}
.about-skill:hover, .about-achievement:hover{
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}
.about-achievements{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}