.navbar{
    background-color: #121212;
    color: #fff;
    padding: 1rem 0;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    font-size: 1.1rem;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.nav-menu li{
    position: relative;
}
.underline{
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #faa95d;
}
.anchor-link{
    text-decoration: none;
    color:#fff;
    font-weight: 500;
}
.anchor-link:hover{
    color:#fff0e3;
}
.nav-connect{
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    background: linear-gradient(267.94deg, #DA7C25 .36%, #B923E1 100%);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.nav-connect:hover{
    transform: scale(1.03);
}
.nav-mob-open, .nav-mob-close{
    display: none;
}

@media (max-width: 992px) {
    .nav-connect { display: none; }
}

@media (max-width: 768px){
    .navbar .container { padding-inline: 0.8rem; }
    .nav-mob-open{
        display: block;
        width: 34px;
        height: 34px;
        cursor: pointer;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: -100%;
        gap: 1.5rem;
        background-color: #0e0e0ecc;
        width: min(90vw, 340px);
        height: 100vh;
        padding: 2.5rem 1rem;
        z-index: 999;
        transition: right 0.25s ease-in-out;
    }
    .nav-menu.open {
        right: 0;
    }
    .nav-menu li{
        font-size: 1.1rem;
    }
    .nav-mob-close{
        display: block;
        align-self: flex-end;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}
